.navigationbar {
    position: fixed;
    top: 0px;
    font-weight: 600;
    width: 100%;
    height: 64px;
    margin: 0px;
    background-color: rgb(255, 123, 159);
    z-index: 5;
    .title {
        font-size: 17.5px;
        position: absolute;
        top: 31px;
        left: 171px;
    }
    .back {
        width: 22px;
        height: 30px;
        position: absolute;
        top: 30px;
        left: 25px;
        stroke: black;
        stroke-width: 3px;
    }
    .cart {
        img {
            position: absolute;
            top: 29px;
            left: 329px;
            width: 22px;
            height: 20px;
        }
        .added {
            font-weight: 400;
            position: absolute;
            top: 24px;
            left: 346px;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background-color: rgb(255, 123, 159);
            z-index: 6;
            color: white;
            font-size: 8px;
            line-height: 15px;
            text-align: center;
        }
    }
}